<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet"
      href="{{ url_for('static', path='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Login</h2>

    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>
    </form>

    <a href="/register">Create Account</a>
</div>

</body>
</html>